* {
    margin: 0;
    padding: 0;
}
.navigation {
    background-color:white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 95%;
    margin: auto;
    height: 50px;
}
.logo {
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}
.menu1, .menu2 {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}
.link, .link2 {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.banner1 {
    background-image: url("./image/water.jpg");
    height: 500px;
    text-align: center;
}
.banner1-text1, .banner1-text2, .banner1-btn, .banner1-text3, .banner1-text4 {
    color: white;
    position: relative;
    top: 100px;
    line-height: 1.7;
}
.banner1-text5 {
    position: relative;
    top: 300px;
}
.banner1-text2, .banner1-text3, .banner1-text4, .banner1-text5 {
    color: white;
}
.banner1-btn {
    color: white;
}